@charset "UTF-8";

#FAQ {
	width: 200px;
    height: 30px;
    /* margin-left:20%; */
    margin-top: 7%;
    font-size: 15px;
    color: #ff005a;
    font-weight: bold;
    /* border: 1px solid red; */
}
#FAQ_sub {
	float: left;
	width: 500px;
	height: 100px;
	/* margin-left:20%; */
	margin-top:1%;
	font-size: 28px;
	font-weight: 100;
	display: inline;
}
.search {
	float: right;
	height: 40px;
	width: 400px;
	background: #ffffff;
	padding-bottom: 50px;
}
#btn {
	display: inline;
	float:right;
	height:12%;
	border: 1px solid #9c836a;
	padding: 15px;	
	text-align: center;
	font-size:14px;
    cursor: pointer; /* 마우스 손가락모양 */
    margin-bottom: 20px;
}
/* #line {
	width: 60%;
	margin : 0 auto;
	margin-top : 4%;
	border-bottom: 1px solid #e6e3df;
} */

tr {
	font-size:15px;
	height: 60px;
	padding-top: 5px;
}
td {
	background-color: white;
}
.title th{
	color: #9c836a;
	text-align: center;
	padding-top: 15px;
    padding-bottom: 15px;
}
td:first-child {
	text-align: center;
	color: #9c836a;
}
td:last-child {
	text-align: center;
	color: #999;
}
