@charset "UTF-8";

#qna {
	font-size: 22px;
    font-weight: bold;
}
#title {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
#contents {
  width: 70%;
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;	
}
#name {
  /* width: 25%; */
  padding: 12px 180px;
  margin: 8px 0;
  box-sizing: border-box;
  padding-left: 20px;
}
#email {
  /* width: 25%; */
  padding: 12px 180px;
  margin: 8px 0;
  box-sizing: border-box;
  padding-left: 20px;
}
.col-75 {
  width: 75%;
  margin-top: 6px;
}