<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FileMapper">

	<!-- write -->
	<insert id="setWrite" parameterType="List">
		<selectKey keyProperty="id" resultType="Integer" order="BEFORE">
			select qna_seq.nextval as id from dual
		</selectKey>
		insert all
		<foreach collection="list" item="item" separator=" " index="i">
			into files values(qna_seq.nextval +#{i}, #{item.num}, #{item.fname}, #{item.oname})
		</foreach>
		select * from dual
	</insert>
	
	<!-- delete -->
	<delete id="setDelete" parameterType="Integer">
		delete files where fnum=#{fnum}
	</delete>
	
	<!-- delete All -->
	<delete id="setDeleteAll" parameterType="Integer">
		delete files where num=#{num}
	</delete>

	<!-- list -->
	<select id="getList" parameterType="Integer" resultType="FileVO">
		select * from files where num=#{num}	
	</select>	
		
	<!-- update -->
	<update id="setUpdate" parameterType="FileVO">
		update files set fname=#{fname}, oname=#{oname} where fnum=#{fnum}
	</update>
	
	<!-- select -->
	<select id="getSelect" parameterType="Integer" resultType="FileVO">
		select * from files where fnum=#{fnum}
	</select>
	
	

	



</mapper>