<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="LessonFileMapper">
 	<!-- <select id="pickThumbnail" parameterType="HashMap" resultType="LessonFileVO">
 		SELECT * FROM LESSONFILES WHERE CLASS_ID=#{class_id} and STATUS=#{status}
 	</select> -->
 	
 	<insert id="setWrite" parameterType="LessonFileVO">
 		INSERT INTO LESSONFILES VALUES(
 				lesson_file_seq.nextval,
 				#{class_id},
 				#{fname},
 				#{oname},
 				#{thumbnail}
 		)
 	
 	</insert>
 	
 	<delete id="setDelete" parameterType="String">
 		DELETE LESSONFILES WHERE CLASS_ID = #{class_id}
 	</delete>
 	
 	<delete id="setDeleteByFnum" parameterType="Integer">
 		DELETE LESSONFILES WHERE FNUM = #{fnum}
 	</delete>
 
 
 </mapper>