<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="MemberMapper">


<insert id="setWrite" parameterType="MemberVO">
	 insert into member values(#{id}, #{pw}, #{name}, #{phone}, #{email}, #{gender}, 2)
</insert>
 
 <delete id="setDelete" parameterType="java.util.List">
 	delete member where id = #{id}
 </delete>
 

 
 <select id="getSelect" resultMap="member" parameterType="MemberVO" resultType="MemberVO">
 	select M.*, F.*
 	from member M Full Join MemberFile F on (M.id=F.id)
 	where M.id=#{id} and M.pw=#{pw}

 </select>
 
 
 
 
 
 
 
 
 
 
 
 
 </mapper>