<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
   
<configuration>
<typeAliases>


	<!-- 유라 -->
	<typeAlias type="com.project.util.PageMaker" alias="PageMaker"/>
	
	
	
	<!-- 성현  -->
	<typeAlias type="com.project.file.FileVO" alias="FileVO"/>
	<typeAlias type="com.project.board.notice.NoticeVO" alias="NoticeVO"/>
	<typeAlias type="com.project.board.qna.QnaVO" alias="QnaVO"/>
	
	
	<!-- 승한 -->
	
	
	
	<!--  하림   -->
	
	
	
	<!-- 공통(각자 만든 패키지 말고 기본 제공되는 것들) -->
	<typeAlias type="java.lang.String" alias="String"/>
	<typeAlias type="java.lang.Integer" alias="Integer"/>
	<typeAlias type="java.util.List" alias="List"/>
	




</typeAliases>


    
    
    

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	

</configuration>