<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
   
<configuration>
<typeAliases>


	<!-- 유라 -->
	
	<typeAlias type="com.project.member.MemberVO" alias="MemberVO"/>
	<typeAlias type="com.project.util.PageMaker" alias="PageMaker"/>
	<typeAlias type="com.project.memberProfile.MemberFileVO" alias="MemberFileVO"/>
	<typeAlias type="com.project.approval.ApprovalVO" alias="ApprovalVO"/>
	<typeAlias type="com.project.certificate.CertificateVO" alias="CertificateVO"/>
	<typeAlias type="com.project.license.LicenseVO" alias="LicenseVO"/>
	
	<!-- 하림 -->
	<typeAlias type="com.project.lesson.LessonVO" alias="LessonVO"/>
	<typeAlias type="com.project.lesson.CategoryVO" alias="CategoryVO"/>
	<typeAlias type="java.util.List" alias="List"/>
	<typeAlias type="java.lang.Integer" alias="Integer"/>
	<typeAlias type="com.project.lesson.LessonFileVO" alias="LessonFileVO"/>
	
	<!-- 성현 -->
	<typeAlias type="java.lang.Integer" alias="Integer"/>
	<typeAlias type="java.lang.String" alias="String"/>
	<typeAlias type="com.project.file.FileVO" alias="FileVO"/>
	<typeAlias type="com.project.notice.NoticeVO" alias="NoticeVO"/>
	<typeAlias type="com.project.qna.QnaVO" alias="QnaVO"/>
	<typeAlias type="com.project.util.PageMaker" alias="PageMaker"/>	
	
	
	<!-- 승한 -->


	<!-- 공통 -->
	<typeAlias type="java.lang.Integer" alias="Integer"/>
	<typeAlias type="java.lang.String" alias="String"/>
	
</typeAliases>


    
    
    
</configuration>